@model pc1Teoria.Models.Registro
@{
    ViewData["Title"] = "Registro";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Formulario de registro Alumno</h1>
    <form asp-controller="Home" asp-action="Create" >
        <input type="hidden" asp-for="Id" />
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control form-control-sm" type="text" placeholder="Escribe un nombre" aria-label=".form-control-sm" />

        <label asp-for="Apellido" class="control-label"></label>
        <input asp-for="Apellido" class="form-control" placeholder="Escribe su apellido" />
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Registrar</button> 
        </div>
    </form>
</div>